{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level 0 Design</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <br>

    <h1>
        Level 0 Design
    </h1>

    <div class="container">
        <p>
            <b>Introduction</b>:<br><br>
            1. Name your project.<br>
            2. Name the level 0 module.<br>
            3. Name the input(s) to the level 0 module and provide a brief description
            of each input.<br>
            4. Name the output(s) of the level 0 module and provide a brief description
            of each input.<br>
            5. Describe the functionality of the module.
            Click the “Add Input” / “Add Output” buttons to include additional inputs /
            outputs as appropriate to your level 0 design.<br> <br>
            
            When your level 0 design is complete, click the ‘Design Complete’ button
            and a block diagram and associated table for your design will be provided
            along with additional questions for you to consider regarding your level 0
            module.
        </p>
    </div>

    
    
</body>
</html>